<?xml version="1.0"?>

<!-- Monitor distribution configuration file. -->
<conn>
     <i01>
         <server>m01inf1.uscc.com</server>
         <port>8999</port>
         <location>/users/common/mps/monitors/</location>
         <args>I01</args>
         <all>
           <dest>/users/common/mps/monitors/</dest>
           <dir>/users/common/mps/MpsMonitors/monitors/</dir>
         </all>
         <cfg>
           <dest>/users/common/mps/monitors/</dest>
           <file>./monitors/monitor.xml</file>
         </cfg>
     </i01>
     <i02>
         <server>m02inf1.uscc.com</server>
         <port>8998</port>
         <location>/users/common/mps/monitors_i02/</location>
         <args>I02</args>
         <all>
           <dest>/users/common/mps/monitors_i02/</dest>
           <dir>/users/common/mps/MpsMonitors/monitors/</dir>
         </all>
         <cfg>
           <dest>/users/common/mps/monitors_i02/</dest>
           <file>./monitors/monitor.xml</file>
         </cfg>
     </i02>
     <i03>
         <server>m03inf1.uscc.com</server>
         <port>8999</port>
         <location>/users/common/mps/monitors_i03/</location>
         <args>I03</args>
         <all>
           <dest>/users/common/mps/monitors_i03/</dest>
           <dir>/users/common/mps/MpsMonitors/monitors/</dir>
         </all>
         <cfg>
           <dest>/users/common/mps/monitors_i03/</dest>
           <file>./monitors/monitor.xml</file>
         </cfg>
     </i03>
     <i04>
         <server>m04inf1.uscc.com</server>
         <port>8999</port>
         <location>/users/common/mps/monitors/</location>
         <args>I04</args>
         <all>
           <dest>/users/common/mps/monitors/</dest>
           <dir>/users/common/mps/MpsMonitors/monitors/</dir>
         </all>
         <cfg>
           <dest>/users/common/mps/monitors/</dest>
           <file>./monitors/monitor.xml</file>
         </cfg>
     </i04>

     <i05>
         <server>m05inf1.uscc.com</server>
         <port>8999</port>
         <location>/users/common/mps/monitors/</location>
         <args>I05</args>
         <all>
           <dest>/users/common/mps/monitors/</dest>
           <dir>/users/common/mps/MpsMonitors/monitors/</dir>
         </all>
         <cfg>
           <dest>/users/common/mps/monitors/</dest>
           <file>./monitors/monitor.xml</file>
         </cfg>
     </i05>
     <i06>
         <server>m06inf1.uscc.com</server>
         <port>8999</port>
         <location>/users/common/mps/monitors/</location>
         <args>I06</args>
         <all>
           <dest>/users/common/mps/monitors/</dest>
           <dir>/users/common/mps/MpsMonitors/monitors/</dir>
         </all>
         <cfg>
           <dest>/users/common/mps/monitors/</dest>
           <file>./monitors/monitor.xml</file>
         </cfg>
     </i06> 
    <m01>
        <server>m01usg1.uscc.com</server>
        <port>8999</port>
        <location>/users/common/mps/monitors/</location>
         <args>M01</args>
        <all>
          <dest>/users/common/mps/monitors/</dest>
          <dir>/users/common/mps/MpsMonitors/monitors/</dir>
        </all>
        <cfg>
          <dest>/users/common/mps/monitors/</dest>
          <file>./monitors/monitor.xml</file>
        </cfg>
    </m01>
    <m02>
        <server>m02usg1.uscc.com</server>
        <port>8999</port>
        <location>/users/common/mps/monitors/</location>
        <args>M02</args>
        <all>
          <dest>/users/common/mps/monitors/</dest>
          <dir>/users/common/mps/MpsMonitors/monitors/</dir>
        </all>
        <cfg>
          <dest>/users/common/mps/monitors/</dest>
          <file>./monitors/monitor.xml</file>
        </cfg>
    </m02>
    <m03>
        <server>m03usg1.uscc.com</server>
        <port>8999</port>
        <location>/users/common/mps/monitors/</location>
        <args>M03</args>
        <all>
          <dest>/users/common/mps/monitors/</dest>
          <dir>/users/common/mps/MpsMonitors/monitors/</dir>
        </all>
        <cfg>
          <dest>/users/common/mps/monitors/</dest>
          <file>./monitors/monitor.xml</file>
        </cfg>
    </m03>
    <m04>
        <server>m04usg1.uscc.com</server>
        <port>8999</port>
        <location>/users/common/mps/monitors/</location>
        <args>M04</args>
        <all>
          <dest>/users/common/mps/monitors/</dest>
          <dir>/users/common/mps/MpsMonitors/monitors/</dir>
        </all>
        <cfg>
          <dest>/users/common/mps/monitors/</dest>
          <file>./monitors/monitor.xml</file>
        </cfg>
    </m04>
    <m05>
        <server>m05usg1.uscc.com</server>
        <port>8999</port>
        <location>/users/common/mps/monitors/</location>
        <args>M05</args>
        <all>
          <dest>/users/common/mps/monitors/</dest>
          <dir>/users/common/mps/MpsMonitors/monitors/</dir>
        </all>
        <cfg>
          <dest>/users/common/mps/monitors/</dest>
          <file>./monitors/monitor.xml</file>
        </cfg>
    </m05>
    <m06>
        <server>m06usg1.uscc.com</server>
        <port>8999</port>
        <location>/users/common/mps/monitors/</location>
        <args>M06</args>
        <all>
          <dest>/users/common/mps/monitors/</dest>
          <dir>/users/common/mps/MpsMonitors/monitors/</dir>
        </all>
        <cfg>
          <dest>/users/common/mps/monitors/</dest>
          <file>./monitors/monitor.xml</file>
        </cfg>
    </m06>
</conn>
